@import "~bootstrap/scss/bootstrap";
@import "../javascripts/components/friends/friends.scss";
@import "../javascripts/components/darkmode/darkmode.scss";

body {
  background-color: #ebebeb;
}

#app {
  display: flex;
  max-width: 1980px;
  padding:0px;
}

.text-small {
  font-size: 12px;
}

#messages {
  display: flex;
  flex-direction: column;
  width:75%;
}

a, a:active {
  text-decoration: none;
  background-color: transparent;
}


.logo {
  max-width: 100px;
}
.nav-item, .nav-link {
  list-style-type: none;
  color: #acb119;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #7baf36;
}
.modal-dialog {
  padding: 10px;
  text-align: center;
}

.modal-text {
  padding: 10px;
  padding-bottom:0px;
  text-align: center;
}
.btn1, .btn1:focus, .btn1:active {
  background-color: #d2e620 !important; 
  color: black !important; 
  border:none;
  outline: none;
}

.btn2, .btn2:focus, .btn2:active {
  background-color: #aebe1a !important; 
  color: black !important; 
  border:none;
  outline: none;
}
.btn-group {
  text-align: center;
  justify-content: center;
}


.message-box {
  width:800px;
  padding:10px;
  margin: 10px;
}

.message-heading {
background-color: #acb119;
padding: 3px;
margin: 2px
}

.time {
  margin-left:2px;
  margin-right:20px;
}

.msg-name{
  margin-left:3px;
  margin-right:20px;
}

.pic {
  margin-right:5px;
    margin-left:5px;
}