@import "~bootstrap/scss/bootstrap";

body {
  background-color: #ebebeb;
}

.logo {
  max-width: 100px;
}
.nav-item, .nav-link {
  list-style-type: none;
  color: #acb119;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #7baf36;
}