#app {
  display: flex;
  flex-direction: column;
  width:75%;
  justify-content: space-between;
}
#messages {
 height: 73vh;
 width:99%;
 margin: 5px;
 overflow: hidden;
 overflow-y: scroll;
 .message {
   background-color: white;
   margin-bottom: 20px;
   border-radius: 5px 5px 5px 5px;
 }
 .message-body{
   padding: 10px;
  
 }
 .card-footer{
   padding:20px;
   padding-top: 10px;
   padding-bottom:30px;
   text-align: center;
   background-color: #acb119;
   display: flex;
   justify-content: center;
   height:5vh;
 }
 .fas{
   margin-left: 10px;
   margin-right: 10px;
 }
}
.input-group{
  display: flex;
}
.input-box{
  display: flex;
  width:60vw;
  flex-direction: column;
  margin-right: 0px;
  margin-left:5px;
  input[type=text] {
    border: 2px solid #aebe1a;
    border-radius: 4px;
  }
}
#clear-messages{
  width: 120px;
  height:5vh;
  margin:0 auto;
  margin-left: 5px;
  padding: 2px;
}
.message-heading {
  background-color: #acb119;
  color: #404040;
  padding: 0px;
  border-radius: 5px 5px 0px 0px;
  letter-spacing: .5px;
}
#message1 {
  .message-body{
    color: #797c10;
}
#canned1 {
  .message-body{
    color: #797c10;
}
}
}