
.dark-mode {
  background-color: #303030 !important; color: white; border:none;
  .navbar, .modal-header, .modal-footer {
    background-color: #505050 !important; color: white; border:none;
  }
  .dropdown-menu {
    background-color: #808080 !important; color: white; border:none;
  }
  #friends{
    background-color: #252525 !important; color: white;
  }
  #messages {
    .message {
      background-color: #5d5d5d;
      margin-bottom: 10px;
      border-radius: 5px 5px 5px 5px;
    }
    .message-heading {
      background-color: #797c11;
      color: #ffffff;
      padding: 10px;
      border-radius: 5px 5px 0px 0px;
    }
    .card-footer{
      background-color: #414040;
    }
    label{
      color:white !important;
    }
  }
  .modal-header{
    border-radius: 0px;
  }
  .modal-footer{
    border-radius: 0px;
  }
  .modal-body{
    background-color: #303030 !important; color: white; border:none;
  }
}