
.dark-mode {
  background-color: red !important;
  .navbar{
    background-color: green !important;
  }
  #messages{
    background-color: yellow !important;
  }
  #friends{
    background-color: orange !important;
  }
  .dropdown-menu{
    background-color: purple !important;
  }
}