body {
  background-color: #262626 !important;
  color:white;
  .nav-item, .nav-link {
    list-style-type: none;
    color: #d7dd1f;
  }
  .nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #fff;
  }
  .button:hover{
    color:white;
  }
}

.nav {
  background-color: rgb(57, 57, 57) !important;
}